<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Apuntes de desarrollo web - HTML, CSS y JS" %></title>
    <%= stylesheet_link_tag "site" %>
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body>
    <%= partial "partials/header" %>

      <%= yield %>

    <%= partial "partials/footer" %>
    <%=
      # javascript_include_tag "nav-toggle", :async => "async"
    %>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  </body>
</html>
