---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---

<div class="topbar">
  <a href="index.html" class="back">Atrás</a>
  <h1>CSS básico</h1>
</div>
<ul class="index">
  <li><a href=#selectores>Selectores</a></li>
  <li><a href=#pseudoclases>Pseudo-clases</a></li>
  <li><a href=#pseudoelementos>Pseudo-elementos</a></li>
  <li><a href=#bordes>Bordes</a></li>
  <li><a href=#background>Background</a></li>
  <li><a href=#color>Color</a></li>
  <li><a href=#texto>Texto</a></li>
  <li><a href=#listas>Listas</a></li>
  <li><a href=#columnas>Columnas de texto</a></li>
  <li><a href=#webfonts>Webfonts</a></li>
</ul>

<div class="main">
  <%= partial "partials-css/selectores" %>
  <%= partial "partials-css/pseudoclases" %>
  <%= partial "partials-css/pseudoelementos" %>
  <%= partial "partials-css/bordes" %>
  <%= partial "partials-css/background" %>
  <%= partial "partials-css/color" %>
  <%= partial "partials-css/degradados" %>
  <%= partial "partials-css/sombras" %>
  <%= partial "partials-css/texto" %>
  <%= partial "partials-css/listas" %>
  <%= partial "partials-css/columnas" %>
  <%= partial "partials-css/webfonts" %>
  <%= partial "partials-css/transiciones" %>
  <%= partial "partials-css/transformaciones" %>
  <%= partial "partials-css/animaciones" %>
</div>
