---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---

<div class="topbar">
  <a href="index.html" class="back">Atrás</a>
  <h1>Decoración y animación</h1>
</div>
<ul class="index">
  <li><a href=#degradados>Degradados</a></li>
  <li><a href=#sombras>Sombras</a></li>
  <li><a href=#trans>Transiciones</a></li>
  <li><a href=#transfo>Transformaciones</a></li>
  <li><a href=#anim>Animaciones</a></li>
</ul>

<div class="main">
  <%= partial "partials-css/degradados" %>
  <%= partial "partials-css/sombras" %>
  <%= partial "partials-css/transiciones" %>
  <%= partial "partials-css/transformaciones" %>
  <%= partial "partials-css/animaciones" %>
</div>
