---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---
<div class="topbar">
  <a href="index.html" class="back">Atrás</a>
  <h1>Elementos HTML</h1>
</div>
<ul class="index">
  <li><a href="#basicos">Elementos básicos</a></li>
  <li><a href="#atributos">Atributos</a></li>
  <li><a href="#linea">Elementos de línea</a></li>
  <li><a href="#bloque">Elementos de bloque</a></li>
  <li><a href="#texto">Elementos de texto</a></li>
</ul>

<div class="main">
  <%= partial "partials-html/elementos-basicos" %>
  <%= partial "partials-html/atributos" %>
  <%= partial "partials-html/elementos-linea" %>
  <%= partial "partials-html/elementos-bloque" %>
  <%= partial "partials-html/elementos-texto" %>
</div>
