---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---

.topbar
  %a.back(href="index.html") Atrás
  %h1 CSS Layout

%ul.index
  %li
    %a(href="#caja")Modelo de caja
  %li
    %a(href="#display")Display
  %li
    %a(href="#floats")Floats y overflow
  %li
    %a(href="#position")Position
  %li
    %a(href="#calc")Calc()
  %li
    %a(href="#mq")Media queries
  %li
    %a(href="#flexbox")Flexbox

.main
  = partial "partials-css/caja"
  = partial "partials-css/display"
  = partial "partials-css/floats"
  = partial "partials-css/position"
  = partial "partials-css/calc"
  = partial "partials-css/mediaqueries"
  = partial "partials-css/flexbox"
